@font-face {
   font-family: 'arian_amu';
   src: url('../fonts/arian_amu.eot');
   src: url('../fonts/arian_amu.eot') format('embedded-opentype'),
        url('../fonts/arian_amu.woff') format('woff'),
        url('../fonts/arian_amu.ttf') format('truetype'),
        url('../fonts/arian_amu.svg#arian_amu') format('svg');
}
@font-face {
   font-family: 'Material Icons';
   src: url('../fonts/MaterialIcon-Regular.eot');
   src: url('../fonts/MaterialIcon-Regular.eot') format('embedded-opentype'),
        url('../fonts/MaterialIcon-Regular.woff') format('woff'),
        url('../fonts/MaterialIcon-Regular.ttf') format('truetype');
 }

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Regular.eot');
   src: url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
 }

.material-icons{
  font-family: $material_icons;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* .material-icons { font-feature-settings: 'liga'; }
@font-face {
font-family: 'Material Icons';
src: url('fonts/gm.eot'); // For IE6-8
src: local('Material Icons'),
local('MaterialIcons-Regular'),
url(fonts/gm.woff2) format('woff2'),
url(fonts/gm.woff) format('woff'),
url(fonts/gm.ttf) format('truetype')
} */

